.background {
    position: relative;
    margin: auto;
    width: 1000px;
    height: 600px;
    background-color: white;
    background-image: url("background.png");
    overflow: hidden;
}

.player {
    position: absolute;
    left: 10px;
    top: 410px;
}

.obstacle {
    position: absolute;
    left: -50px;
    top: 550px;
    width: 50px;
    height: 50px;
    background-color: rgb(181, 113, 208);
}

button {
    position: absolute;
    width: 100px;
    height: 40px;
}

.pause {
    left: 900px;
    top: 20px;
}

.resume {
    position: relative;
    margin: auto;
    top: 260px;
}

.restart {
    position: relative;
    margin: auto;
    top: 260px;
}

.gameOver {
    position: relative;
    margin: auto;
    top: 260px;
    color:white;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}

.hide {
    display: none;
}